body {
  font-size:100%;
}

.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:6px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:3px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
    overflow:auto;
  }

.name {
  display:block;
  text-align:center;
  margin:0 auto;
  font-family:monospace;
}

.sectDiv {
  text-align:center;
  margin:0 auto;
}

.sect {
  display:inline-block;
  font-family:monospace;
  margin:0 auto;
  background:#EED0E6;
  user-select:none;
}

#accentCanv {
  height:9px;
  background:#EED0E6;
}

/*not used
.text {
  text-align:center;
  margin:.1em auto .5em;
  font-family:monospace;
  font-size:1.25em;
  font-weight:54.0;
}
.linksDiv {
  text-align:center;
  margin:.25em auto;
  background-color:#EED0E6;
  border-style:dotted;
  border-color:#604559;
  max-width:16em;
}
.linksData {
  display:inline-block;
  margin:0 auto;
  padding:.3em .05em;
}
.links {
  font-family:monospace;
  font-size:1em;
  text-align:center;
}

a:link {
	background-color:transparent;
	text-decoration:none;
}
a:visited {
  background-color:transparent;
  text-decoration:none;
}
a:hover {
  background-color:transparent;
  text-decoration:underline;
}
a:active {
  background-color:transparent;
  text-decoration:underline;
}
  a.github:link {
    color:#283747;
  }
  a.github:visited {
    color:#283747;
  }
  a.github:hover {
    color:#2E4053;
  }
  a.github:active {
    color:#5D6D7E;
  }

  a.linkedin:link {
    color:#1F618D;
  }
  a.linkedin:visited {
    color:#1F618D;
  }
  a.linkedin:hover {
    color:#2471A3;
  }
  a.linkedin:active {
    color:#2980B9;
  }

  a.youtube:link {
    color:#922B21;
  }
  a.youtube:visited {
    color:#922B21;
  }
  a.youtube:hover {
    color:#A93226;
  }
  a.youtube:active {
    color:#CD6155;
  }

  a.instagram:link {
    color:#633974;
  }
  a.instagram:visited {
    color:#633974;
  }
  a.instagram:hover {
    color:#76448A;
  }
  a.instagram:active {
    color:#9B59B6;
  }
*/
