.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:15px;
    border-color:#604559;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:10px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:5px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
  }

a:link {
	background-color:transparent;
	text-decoration:none;
}
a:visited {
  background-color:transparent;
  text-decoration:none;
}
a:hover {
  background-color:transparent;
  text-decoration:underline;
}
a:active {
  background-color:transparent;
  text-decoration:underline;
}
  a.github:link {
    color:#283747;
  }
  a.github:visited {
    color:#283747;
  }
  a.github:hover {
    color:#2E4053;
  }
  a.github:active {
    color:#5D6D7E;
  }
  
  a.linkedin:link {
    color:#1F618D;
  }
  a.linkedin:visited {
    color:#1F618D;
  }
  a.linkedin:hover {
    color:#2471A3;
  }
  a.linkedin:active {
    color:#2980B9;
  }
  
  a.youtube:link {
    color:#922B21;
  }
  a.youtube:visited {
    color:#922B21;
  }
  a.youtube:hover {
    color:#A93226;
  }
  a.youtube:active {
    color:#CD6155;
  }
  
  a.instagram:link {
    color:#633974;
  }
  a.instagram:visited {
    color:#633974;
  }
  a.instagram:hover {
    color:#76448A;
  }
  a.instagram:active {
    color:#9B59B6;
  }

.name {
  text-align:center;
  margin:20px auto 15px;
  font-family:monospace;
  font-size:72px;
  width:700px;
  text-decoration:underline;
}
.text {
  text-align:center;
  margin:5px auto 30px;
  font-family:monospace;
  font-size:20px;
}

.linksTable {
  background-color:#EED0E6;
  margin:30px auto;
  border-style:dotted;
  border-color:#604559;
}
.linksData {
  padding:5px;
}
.links {
  font-family:monospace;
  font-size:20px;
}