body {
  font-size:100%;
}

a:link {
  color:#4a3946;
	background-color: transparent;
}

a:visited {
  color:#594a56;
	background-color: transparent;
}

a:hover {
  color:#593f53;
	background-color: transparent;
}

a:active {
  color:#75496b;
	background-color: transparent;
}

.link {
  text-decoration: none;
}

.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:6px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:3px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
    overflow:auto;
  }

.name {
  display:block;
  text-align:center;
  margin:0 auto;
  font-family:monospace;
  text-decoration:underline;
}

#accentCanv {
  border-radius:3px;
  height:16px;
  background:#BB94B0;
  margin-top:12px;
}

.sectDiv {
  display:flex;
  flex-direction:row;
}
.sect {
  align-items:center;
  justify-content:center;
  border-radius:3px;
  padding:3px 0px;
  display:inline-flex;
  font-family:monospace;
  margin:none;
  background:#EED0E6;
  user-select:none;
}

.infoDiv {
  border-radius:6px;
  box-sizing:border-box;
  display:none;
  margin:0 auto;
  background:#EED0E6;
}
  .subSect {
    background-color:#cfabc5;
    margin:0 auto;
    user-select:none;
  }
  .subSectC {
    box-sizing:border-box;
    padding-left:6px;
    padding-right:6px;
    margin:0 auto;
  }
    .headerP, .contentP {
      font-family:monospace;
      font-weight:111;
    }
    .headerP {
      padding:6px 0px 6px;
      font-size:15px;
    }
    .subSect:nth-last-child(2) {
      border-radius:0px 0px 6px 6px;
    }
    .subSect:first-child {
      border-radius:6px 6px 0px 0px;
    }
    .linkImg {
      padding:6px 6px;
    }
    .lissImg {
      padding:6px 6px;
    }
    #aboutP {
      padding:0px 0px 0px;
    }
    #lissap {
      display:inline-block;
    }
      #html, #css, #javascript, #jquery,
      #gpu, #workers, #audio, #webgl {
        font-weight:666;
      }
      #html, #webgl {
        color:#966F8B;
      }
      #css, #audio {
        color:#968E6F;
      }
      #javascript, #workers {
        color:#6F967A;
      }
      #jquery, #gpu {
        color:#6F7896;
      }
      #jqui, #vue {
        font-weight:666;
      }
      .divider {
        font-weight:1000;
      }
